.container {
	color: white;
}

.paddingText {
	padding-top: 15%;
}

#todoText {
	color: #f67600;
}

#titleText {
	color: #53adc0;
}

/*Discord button*/
.btn-outline-discord {
	color: #7289da;
	border-color: #7289da;
}
.btn-outline-discord:hover {
	color: #fff;
	background-color: #7289da;
	border-color: #7289da;
}
.btn-outline-discord.focus,
.btn-outline-discord:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}
.btn-outline-discord.disabled,
.btn-outline-discord:disabled {
	color: #7289da;
	background-color: transparent;
}
.btn-outline-discord:not(:disabled):not(.disabled).active,
.btn-outline-discord:not(:disabled):not(.disabled):active,
.show > .btn-outline-discord.dropdown-toggle {
	color: #fff;
	background-color: #7289da;
	border-color: #7289da;
}
.btn-outline-discord:not(:disabled):not(.disabled).active:focus,
.btn-outline-discord:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-discord.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}

#logoimg {
	margin-top: -20%;
	-webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}

@-webkit-keyframes breathing {
	0% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
  
	25% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  
	60% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
  
	100% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
  }
  
  @keyframes breathing {
	0% {
	  -webkit-transform: scale(0.9);
	  -ms-transform: scale(0.9);
	  transform: scale(0.9);
	}
  
	25% {
	  -webkit-transform: scale(1);
	  -ms-transform: scale(1);
	  transform: scale(1);
	}
  
	60% {
	  -webkit-transform: scale(0.9);
	  -ms-transform: scale(0.9);
	  transform: scale(0.9);
	}
  
	100% {
	  -webkit-transform: scale(0.9);
	  -ms-transform: scale(0.9);
	  transform: scale(0.9);
	}
  }
  